


.intro-page{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:99.9vw;
    background-color: black;
    height:99.9vh;


}


.intro-video{
    z-index:0;
    object-fit: cover;
    filter: blur(2px) brightness(1);
    height:99%;
    width:50%;
    transition: filter 0.3s ease;
}


.business-button{
    z-index:1;
    height:60px;
    position: absolute;
    bottom:29%;
    left:70vw;
}
.intro-page:has(.business-button:hover) #business-video {
    filter: blur(2px) brightness(0.4);  
}
.events-button{    
    z-index:1;
    height:60px;
    position: absolute;
    bottom:30%;
    left:21vw;
    color: rgba(90, 62, 54, 0.6);
    background-color:  rgba(253, 246, 236, 0.9);
}
.intro-page:has(.events-button:hover) #events-video {
    filter: blur(2px) brightness(0.4);
}
@media(max-width:1000px){

    .intro-page{
        flex-direction: column;
    }
    .intro-video{
        width:100%;
    }
    .business-button{
        top:40vh;
        left:32vw;
    }
    .events-button{
        top:90vh;
        left:32vw;
    }
}